#loading-page {
    display: none;
}

/***LEFT SIDE ELEMENTS***/

/*BACKGROUND*/
html {
    background-image: url('Images/FirePlace.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment:local;
    height: 100%;
}

#logo {
    display: inline-block;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    font-size: 4vmin;
    font-weight: 600;
}

.main-slides img {
    display: none;
}

.main-slides ul {
    list-style: none;
}

#more-info {
    display: block;
}

/*INTERACTIVE IMAGES*/

#projects {
    position: absolute;
    top: 100%;
    right: 0em;
    width: 100%;
    background-color: rgb(255, 224, 0);
}

#projects img {
    display: block;
    width: 100%;
/*    max-height: 210px;*/
    max-width: 683px;
    margin: 0 auto;
}

.hover-text {
    text-align: center;
    color: white;
    display: block;
    max-width: 683px;
    margin: 0 auto;
    font-size: 4vmin;
    background-color: rgba(0, 0 ,0 , .6);
}

#txt-1 {
    position: relative;
    bottom: 8.5em;
    margin-bottom: -3.34em;
}


#txt-2 {
    position: relative;
    bottom: 9em;
    margin-bottom: -2.4em;
}


#txt-3{
    position: relative;
    bottom: 8.5em;
    margin-bottom: -5em;
}



/*****SUBSCRIPTION BOX*******/

#submit-form {
    background-color: black;
    color: rgb(255, 224, 0);
    text-align: center;
    padding: 1em;
}

.user-input {
    display: block;
    margin: 0 auto 1em;
    color: black;
}

#submit-form button {
    color: black;
}

/*****NAV ITEMS*******/

/*OPEN PANEL*/

#right-panel {
    background-color: rgb(255, 224, 0);
    padding-top: .5em;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 186px;
    max-width: 340px;
    min-height: 380px;
}

#nav-items .fa {
    display: block;
    font-size: 2em;
}

#right-panel a {
    display: block;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: .3em;
    text-decoration: none;
    white-space: nowrap;
    
}

#sharing-icons {
    position: absolute;
    bottom: 5em;
}

#sharing-icons a {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

#footer-info {
    position: absolute;
    bottom: 0;
}

aside p {
    margin: 0;
}

/*Closed PANEL*/

#min-right-panel {
    background-color: rgb(255, 224, 0);
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    width: 2em;
    height: 100%;
    padding-top: 1em;
    padding-right: 1.2em;
}

#min-right-panel .fa {
    padding: .2em;
}

.hide {
    display: none;
}

@media(min-width: 670px) {
    #projects {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    
    #projects img {
        width: 33.3%;
        margin: 0 auto;
        float: left;
    }
    
    .hover-text {
        width: 23%;
        font-size: 1em;
    }
    
    #txt-1 {
        position: absolute;
        bottom: 25em;
        width: 33.3%;
    }
    
    #txt-2 {
        position: absolute;
        width: 33.3%;
        left: 33.4%;
        bottom: 25em;
    }
    
    #txt-3 {
        position: absolute;
        width: 33.3%;
        left: 66.5%;
        bottom: 27em;
    }
    
    #submit-form {
        padding: 1em;
    }
}